.App {
  text-align: center;
  background-color:#b49855;
  min-height:100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

#loadMore {
  background-color:#302214;
  margin:10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid #e7d491;
  color:#b49855;
  height:30px
}
