.modal-overlay {
   display:flex;
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color:#302214;
   margin: 5% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #b49855;
   border-radius:5%;
   max-width: 80%;
   color:#b49855;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   max-height:auto;
}

.modal-img {
    max-height:29%;
    max-width:29%;
    border:1px solid #b49855;
    border-radius:5%
}

.details {
    display:flex;
    margin:10px;
    
}

.extraDetails {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-left:auto;
    padding:15px;
}

.genres {
    display:flex;
}
